<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/libs/editormd/css/editormd.min.css" th:href="@{/libs/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/css/mstyle.css" th:href="@{/css/mstyle.css}">
</head>
<body>
<!-- navigate -->
    <nav th:fragment="nav(n)" class="ui attached segment m-padded-tb-min">
        <div class="ui container">
            <div class="ui secondary stackable menu">
                <h2 class="ui header item">Blog Management</h2>
                <a href="#" class="item menu-item m-mobile-hide" th:href="@{/admin/posts}" th:classappend="${n==1} ? 'active'">Post</a>
                <a href="#" class="item menu-item m-mobile-hide" th:href="@{/admin/topics}" th:classappend="${n==2} ? 'active'">Topic</a>
                <a href="#" class="item menu-item m-mobile-hide" th:href="@{/admin/tags}" th:classappend="${n==3} ? 'active'">Tag</a>
                <div class="right menu menu-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../static/images/Tao.jpg" th:src="@{/images/Tao.jpg}" alt="" class="ui avatar image">
                            Ah-tao
                            <i class="dropdown icon"></i>
                        </div>

                        <div class="menu">
                            <a class="item" href="#" th:href="@{/admin/logout}">log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="ui icon basic button menu toggle m-position-right-top m-mobile-show m-margin-lr-m" href="#">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </nav>

</body>
</html>