<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Manage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/mstyle.css">
</head>
<body>

    <!-- nav -->
    <nav th:replace="admin/_fragments :: nav(1)" class="ui attached segment m-padded-tb-min">
        <div class="ui container">
            <div class="ui secondary stackable menu">
                <h2 class="ui header item">Blog</h2>
                <a href="#" class="item menu-item m-mobile-hide">Post</a>
                <a href="#" class="item menu-item m-mobile-hide">Topic</a>
                <a href="#" class="item menu-item m-mobile-hide">Tag</a>
                <div class="right menu menu-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../static/images/Tao.jpg" alt="" class="ui avatar image">
                            Ah-tao
                            <i class="dropdown icon"></i>
                        </div>

                        <div class="menu">
                            <a class="item" href="#">log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="ui icon basic button menu toggle m-position-right-top m-mobile-show m-margin-lr-m" href="#">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/posts/create}" class="item">Create/Edit</a>
                <a href="#" th:href="@{/admin/posts}" class="active item">List</a>
            </div>
        </div>
    </div>


    <!-- main content -->
    <div class="m-padded-tb-l m-container">
        <div class="ui container">
            <!-- success message-->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">Hint: </div>
                <p th:text="${message}">Post add/update successful!</p>
            </div>

            <!-- list of content -->
            <form action="#" method="post" class="ui secondary segment form">
                <input type="hidden" name="page" >
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="Search...">
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="topic">
                            <i class="dropdown icon"></i>
                            <div class="default text">Any topics</div>
                            <div class="menu">
                                <div th:each="topic : ${topics}" class="item" data-value="1" th:data-value="${topic.id}" th:text="${topic.name}">some topic</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <button type="button" id="search-btn" class="ui button">Go</button>
                    </div>
                </div>
            </form>

            <div id="table-container">
                <table th:fragment="post_search_list" class="ui celled padded table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Topic</th>
                        <th>Status</th>
                        <th>Update Time</th>
                        <th>Management</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post, iteration : ${page.content}">
                        <td th:text="${iteration.count}">1</td>
                        <td th:text="${post.title}">This is the title</td>
                        <td th:text="${post.topic.name}">Java</td>
                        <td th:text="${post.status}? 'Published' : 'Draft'">Draft</td>
                        <td th:text="${post.updated}">Sep 7 2014</td>
                        <td>
                            <a href="#" th:href="@{/admin/posts/{id}/edit(id=${post.id})}" class="ui mini basic button">Edit</a>
                            <a href="#" th:href="@{/admin/posts/{id}/delete(id=${post.id})}" class="ui mini red basic button">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="6">
                            <a href="#" th:href="@{/admin/posts/create}" class="ui basic button">Create</a>
                            <div class="ui right floated pagination mini menu" th:if="${page.totalPages}>1">
                                <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="icon item" th:unless="${page.first}">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="icon item" th:unless="${page.last}">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>


    <!-- footer -->
    <footer class="ui vertical segment m-padded-tb-m">
        <div class="ui center aligned container">
            <div class="ui section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity">Copyright &copy 2019 Designed by Taotao Ma</p>
        </div>
    </footer>


    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.menu-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover',
            clearable: true,
            placeholder: 'All Topics'
        });

        // Close message
        $('.message .close').on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

        function loaddata() {
            $("#table-container").load(/*[[@{/admin/posts/search}]]*/"/admin/posts/search",{
                title : $("[name='title']").val(),
                topic : $("[name='topic']").val(),
                page : $("[name='page']").val()
            });
        }

        function page(obj) {
            $("[name='page']").val($(obj).data("page"));
            loaddata();
        }

        $("#search-btn").click(function () {
            $("[name='page']").val(0);
            loaddata();
        });

    </script>

</body>
</html>