<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Edit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/libs/editormd/css/editormd.min.css" th:href="@{/libs/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/css/mstyle.css" th:href="@{/css/mstyle.css}">
</head>
<body>

    <!-- nav -->
    <nav th:replace="admin/_fragments :: nav(1)" class="ui attached segment m-padded-tb-min">
        <div class="ui container">
            <div class="ui secondary stackable menu">
                <h2 class="ui header item">Blog</h2>
                <a href="#" class="item menu-item m-mobile-hide">Post</a>
                <a href="#" class="item menu-item m-mobile-hide">Topic</a>
                <a href="#" class="item menu-item m-mobile-hide">Tag</a>
                <div class="right menu menu-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../static/images/Tao.jpg" th:src="@{/images/Tao.jpg}" alt="" class="ui avatar image">
                            Ah-tao
                            <i class="dropdown icon"></i>
                        </div>

                        <div class="menu">
                            <a class="item" href="#">log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="ui icon basic button menu toggle m-position-right-top m-mobile-show m-margin-lr-m" href="#">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="active item">Edit</a>
                <a href="#" class="item">List</a>
            </div>
        </div>
    </div>


    <!-- main content -->
    <div class="m-padded-tb-l m-container">
        <div class="ui container">
            <form action="#" method="post" class="ui form">
                <div class="required field">
                    <input type="text" name="title" placeholder="Title">
                </div>
                
                <div class="field">
                    <div id="md-content" style="z-index: 1 !important;">
                        <textarea placeholder="Content..." name="content" style="display: none;">[TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/
            editormd.js
            ...

```html
&lt;!-- English --&gt;
&lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

&lt;!-- 繁體中文 --&gt;
&lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
```
                        </textarea>
                    </div>
                </div>
                
                <div class="two fields">
                    <div class="field">
                        <div class="ui left labeled action input">
                            <label class="ui compact basic label">Topic</label>
                            <div class="ui selection dropdown fluid search">
                                <input type="hidden">
                                <i class="dropdown icon"></i>
                                <div class="default text">Topic</div>
                                <div class="menu">
                                    <div class="item" data-value="1">Java</div>
                                    <div class="item" data-value="2">Python</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled action input">
                            <label class="ui compact basic label">Tag</label>
                            <div class="ui selection dropdown multiple fluid search">
                                <input type="hidden">
                                <i class="dropdown icon"></i>
                                <div class="default text">Tag</div>
                                <div class="menu">
                                    <div class="item" data-value="1">Spring</div>
                                    <div class="item" data-value="2">Django</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui error message"></div>

                <div class="ui right aligned container">
                    <button type="button" class="ui basic button" onclick="window.history.go(-1)">Back</button>
                    <button class="ui button">Save</button>
                    <button class="ui button">Post</button>
                </div>
            </form>
        </div>
    </div>


    <!-- footer -->
    <footer class="ui vertical segment m-padded-tb-m">
        <div class="ui center aligned container">
            <div class="ui section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity">Copyright &copy 2019 Designed by Taotao Ma</p>
        </div>
    </footer>


    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/libs/editormd/editormd.min.js" th:src="@{/libs/editormd/editormd.min.js}"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.menu-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please give a title'
                    }]
                }
            }
        });

        // initialize markdown editor
        var contentEditor;

        $(function() {
            contentEditor = editormd("md-content", {
                width   : "100%",
                height  : 640,
                syncScrolling : "single",
                path    : "../../static/libs/editormd/lib/"
            });

        });
    </script>

</body>
</html>