<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag Manage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/mstyle.css">
</head>
<body>

    <!-- nav -->
    <nav th:replace="admin/_fragments :: nav(3)" class="ui attached segment m-padded-tb-min">
        <div class="ui container">
            <div class="ui secondary stackable menu">
                <h2 class="ui header item">Blog</h2>
                <a href="#" class="item menu-item m-mobile-hide">Post</a>
                <a href="#" class="item menu-item m-mobile-hide">Topic</a>
                <a href="#" class="item menu-item m-mobile-hide">Tag</a>
                <div class="right menu menu-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../static/images/Tao.jpg" alt="" class="ui avatar image">
                            Ah-tao
                            <i class="dropdown icon"></i>
                        </div>

                        <div class="menu">
                            <a class="item" href="#">log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="ui icon basic button menu toggle m-position-right-top m-mobile-show m-margin-lr-m" href="#">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/tags/create}" class="item">Create/Edit</a>
                <a href="#" th:href="@{/admin/tags}" class="active item">List</a>
            </div>
        </div>
    </div>


    <!-- main content -->
    <div class="m-padded-tb-l m-container">
        <div class="ui container">
            <!-- success message for add/edit tag -->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">Hint: </div>
                <p th:text="${message}">Topic add/update successful!</p>
            </div>

            <!-- list of tags -->
            <table class="ui celled padded table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Management</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tag, iterator : ${page.content}">
                        <td th:text="${iterator.count}">1</td>
                        <td th:text="${tag.name}">tag</td>
                        <td>
                            <a href="#" th:href="@{/admin/tags/{id}/edit(id=${tag.id})}" class="ui mini basic button">Edit</a>
                            <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">Delete</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            <a href="#" th:href="@{/admin/tags/create}" class="ui basic button">Create</a>
                            <div class="ui right floated pagination mini menu" th:if="${page.totalPages}>1">
                                <a th:href="@{/admin/tags(page=${page.number}-1)}" th:unless="${page.first}" class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a th:href="@{/admin/tags(page=${page.number}+1)}" th:unless="${page.last}" class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <!-- footer -->
    <footer class="ui vertical segment m-padded-tb-m">
        <div class="ui center aligned container">
            <div class="ui section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity">Copyright &copy 2019 Designed by Taotao Ma</p>
        </div>
    </footer>


    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.menu-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        // Close message
        $('.message .close').on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    </script>

</body>
</html>