<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/mstyle.css">
</head>
<body>

<!-- nav -->
<nav th:replace="admin/_fragments :: nav" class="ui attached segment m-padded-tb-min">
    <div class="ui container">
        <div class="ui secondary stackable menu">
            <h2 class="ui header item">Blog</h2>
            <a href="#" class="item menu-item m-mobile-hide">Home</a>
            <a href="#" class="item menu-item m-mobile-hide">Topic</a>
            <a href="#" class="item menu-item m-mobile-hide">Tag</a>
            <div class="right menu menu-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/Tao.jpg" alt="" class="ui avatar image">
                        Ah-tao
                        <i class="dropdown icon"></i>
                    </div>

                    <div class="menu">
                        <a class="item" href="#">log out</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="ui icon basic button menu toggle m-position-right-top m-mobile-show m-margin-lr-m" href="#">
            <i class="sidebar icon"></i>
        </a>
    </div>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">Post</a>
            <a href="#" class="item">Manage</a>
        </div>
    </div>

</div>


<!-- main content -->
<br>
<div class="m-padded-tb-xl m-container-s">
    <div class="ui container">
        <div class="ui success large message">
            <h2>Hi,</h2>
            <p>Welcome back!</p>
        </div>
    </div>
</div>
<br>
<br>


<!-- footer -->
<footer class="ui vertical segment m-padded-tb-m">
    <div class="ui center aligned container">
        <div class="ui section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity">Copyright &copy 2019 Designed by Taotao Ma</p>
    </div>
</footer>


<!-- Script -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.menu-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>

</body>
</html>